<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <h1>Welcome User!</h1>
    <p>Your user data:</p>
    <table border="1">
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Username</td>
            <td>{{ user_data[1] }}</td>
        </tr>
        <!-- Add more rows for additional user data attributes -->
    </table>
    <a href="/logout">Logout</a>
</body>
</html>
